# coding: utf-8

"""
    Opisanie API Analitika

    **Servis predostavlaet publihnyi API dla poluhenia analitiheskih dannyh.**          Analitiheskie dannye v istohnike hranatsa za poslednii god, pri vybore daty nahala perioda ranee hem god nazad, budet   vozvrahatsa ohibka, takim obrazom maksimalnoe kol-vo dnei v agregaciah — 365.  Takhe v dannyh, gde predostavlaetsa informacia po predyduhemu periodu:   1. V `previousPeriod` dannye za takoi he period, hto i v `selectedPeriod`.   2. Esli data nahala `previousPeriod` ranee, hem god nazad ot tekuhei daty, ona budet privedena k vidu:      `previousPeriod.start = tekuhaa data - 365 dnei.`  #### Taimzony  Format IANA, aktualnyi spisok mohno posmotret [zdes](https://nodatime.org/TimeZones). <br> <br> <br>   # noqa: E501

    OpenAPI spec version: 2.18
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from wildberries_api_client.analytics.api_client import ApiClient


class TovarySobazatelnoiMarkirovkoiApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_analytics_excise_report_post(self, date_from, date_to, **kwargs):  # noqa: E501
        """Othet po tovaram s obazatelnoi markirovkoi  # noqa: E501

        Vozvrahaet operacii po markiruemym tovaram. Maksimum 10 zaprosov za 5 hasov.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_analytics_excise_report_post(date_from, date_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Nahalo othetnogo perioda v formate RFC3339. Mohno peredat datu ili datu so vremenem. Primery:    * `2023-12-01`   * `2023-12-01T23:59:59`   * `2023-12-01T00:00:00.12345`   * `2023-12-01T00:00:00`  (required)
        :param str date_to: Konec othetnogo perioda v formate RFC3339. Mohno peredat datu ili datu so vremenem. Primery:    * `2023-12-01`   * `2023-12-01T23:59:59`   * `2023-12-01T00:00:00.12345`   * `2023-12-01T00:00:00`  (required)
        :param ExciseReportRequest body:
        :return: ExciseReportResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_analytics_excise_report_post_with_http_info(date_from, date_to, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_analytics_excise_report_post_with_http_info(date_from, date_to, **kwargs)  # noqa: E501
            return data

    def api_v1_analytics_excise_report_post_with_http_info(self, date_from, date_to, **kwargs):  # noqa: E501
        """Othet po tovaram s obazatelnoi markirovkoi  # noqa: E501

        Vozvrahaet operacii po markiruemym tovaram. Maksimum 10 zaprosov za 5 hasov.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_analytics_excise_report_post_with_http_info(date_from, date_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Nahalo othetnogo perioda v formate RFC3339. Mohno peredat datu ili datu so vremenem. Primery:    * `2023-12-01`   * `2023-12-01T23:59:59`   * `2023-12-01T00:00:00.12345`   * `2023-12-01T00:00:00`  (required)
        :param str date_to: Konec othetnogo perioda v formate RFC3339. Mohno peredat datu ili datu so vremenem. Primery:    * `2023-12-01`   * `2023-12-01T23:59:59`   * `2023-12-01T00:00:00.12345`   * `2023-12-01T00:00:00`  (required)
        :param ExciseReportRequest body:
        :return: ExciseReportResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date_from', 'date_to', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_analytics_excise_report_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'date_from' is set
        if ('date_from' not in params or
                params['date_from'] is None):
            raise ValueError("Missing the required parameter `date_from` when calling `api_v1_analytics_excise_report_post`")  # noqa: E501
        # verify the required parameter 'date_to' is set
        if ('date_to' not in params or
                params['date_to'] is None):
            raise ValueError("Missing the required parameter `date_to` when calling `api_v1_analytics_excise_report_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'date_from' in params:
            query_params.append(('dateFrom', params['date_from']))  # noqa: E501
        if 'date_to' in params:
            query_params.append(('dateTo', params['date_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/analytics/excise-report', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExciseReportResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
