# coding: utf-8

"""
    Opisanie API Statistiki

    S pomohu etih metodov mohno poluhit othety.   # noqa: E501

    OpenAPI spec version: 2.18
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from wildberries_api_client.statistics.api_client import ApiClient


class StatistikaApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v1_supplier_incomes_get(self, date_from, **kwargs):  # noqa: E501
        """Postavki  # noqa: E501

        Postavki. Maksimum 1 zapros v minutu  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_incomes_get(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po postavke. <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :return: list[IncomesItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_supplier_incomes_get_with_http_info(date_from, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_supplier_incomes_get_with_http_info(date_from, **kwargs)  # noqa: E501
            return data

    def api_v1_supplier_incomes_get_with_http_info(self, date_from, **kwargs):  # noqa: E501
        """Postavki  # noqa: E501

        Postavki. Maksimum 1 zapros v minutu  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_incomes_get_with_http_info(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po postavke. <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :return: list[IncomesItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_supplier_incomes_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'date_from' is set
        if ('date_from' not in params or
                params['date_from'] is None):
            raise ValueError("Missing the required parameter `date_from` when calling `api_v1_supplier_incomes_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'date_from' in params:
            query_params.append(('dateFrom', params['date_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/supplier/incomes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[IncomesItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_supplier_orders_get(self, date_from, **kwargs):  # noqa: E501
        """Zakazy  # noqa: E501

        Zakazy. <br> Garantiruetsa hranenie dannyh ne bolee 90 dnei ot daty zakaza. <br> Dannye obnovlautsa raz v 30 minut. <br> Dla identifikacii zakaza sleduet ispolzovat pole `srid`. <br> 1 stroka = 1 zakaz = 1 edinica tovara. <br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_orders_get(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po zakazu. <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :param int flag: Esli parametr `flag=0` (ili ne ukazan v stroke zaprosa), pri vyzove API vozvrahautsa dannye,  u kotoryh znahenie pola `lastChangeDate` (data vrema obnovlenia informacii v servise) bolhe ili ravno peredannomu  znaheniu parametra `dateFrom`.  Pri etom kolihestvo vozvrahennyh strok dannyh variruetsa v intervale ot 0 do primerno 100 000. <br> Esli parametr `flag=1`, to budet vygruhena informacia obo vseh zakazah ili prodahah s datoi,  ravnoi peredannomu parametru `dateFrom` (v dannom sluhae vrema v date znahenia ne imeet).  Pri etom kolihestvo vozvrahennyh strok dannyh budet ravno kolihestvu vseh zakazov ili prodah,  sdelannyh v ukazannuu datu, peredannuu v parametre `dateFrom`. 
        :return: list[OrdersItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_supplier_orders_get_with_http_info(date_from, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_supplier_orders_get_with_http_info(date_from, **kwargs)  # noqa: E501
            return data

    def api_v1_supplier_orders_get_with_http_info(self, date_from, **kwargs):  # noqa: E501
        """Zakazy  # noqa: E501

        Zakazy. <br> Garantiruetsa hranenie dannyh ne bolee 90 dnei ot daty zakaza. <br> Dannye obnovlautsa raz v 30 minut. <br> Dla identifikacii zakaza sleduet ispolzovat pole `srid`. <br> 1 stroka = 1 zakaz = 1 edinica tovara. <br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_orders_get_with_http_info(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po zakazu. <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :param int flag: Esli parametr `flag=0` (ili ne ukazan v stroke zaprosa), pri vyzove API vozvrahautsa dannye,  u kotoryh znahenie pola `lastChangeDate` (data vrema obnovlenia informacii v servise) bolhe ili ravno peredannomu  znaheniu parametra `dateFrom`.  Pri etom kolihestvo vozvrahennyh strok dannyh variruetsa v intervale ot 0 do primerno 100 000. <br> Esli parametr `flag=1`, to budet vygruhena informacia obo vseh zakazah ili prodahah s datoi,  ravnoi peredannomu parametru `dateFrom` (v dannom sluhae vrema v date znahenia ne imeet).  Pri etom kolihestvo vozvrahennyh strok dannyh budet ravno kolihestvu vseh zakazov ili prodah,  sdelannyh v ukazannuu datu, peredannuu v parametre `dateFrom`. 
        :return: list[OrdersItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date_from', 'flag']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_supplier_orders_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'date_from' is set
        if ('date_from' not in params or
                params['date_from'] is None):
            raise ValueError("Missing the required parameter `date_from` when calling `api_v1_supplier_orders_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'date_from' in params:
            query_params.append(('dateFrom', params['date_from']))  # noqa: E501
        if 'flag' in params:
            query_params.append(('flag', params['flag']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/supplier/orders', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[OrdersItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_supplier_report_detail_by_period_get(self, date_from, date_to, **kwargs):  # noqa: E501
        """Othet o prodahah po realizacii  # noqa: E501

        Detalizacia k othetu realizacii.  <br> V othete dostupny dannye za poslednie 3 mesaca. <br> V sluhae otsutstvia dannyh za ukazannyi period metod vernet `null`. <br> Tehniheskii pereryv v rabote metoda: kahdyi ponedelnik s 3:00 do 16:00. <br> <a href=\"../../excel_save/ru/index.html\">Instrukcia: Sohranenie statistiki v Excel</a> <br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_report_detail_by_period_get(date_from, date_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Nahalnaa data otheta.<br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :param date date_to: Konehnaa data otheta (required)
        :param int limit: Maksimalnoe kolihestvo strok otheta, vozvrahaemyh metodom. Ne mohet byt bolee 100000.
        :param int rrdid: Unikalnyi identifikator stroki otheta. Neobhodim dla poluhenia otheta hastami.  <br> Zagruzku otheta nuhno nahinat s `rrdid = 0` i pri posleduuhih vyzovah API peredavat v zaprose znahenie `rrd_id` iz poslednei stroki, poluhennoi v rezultate predyduhego vyzova.  <br> Takim obrazom dla zagruzki odnogo otheta mohet ponadobitsa vyzyvat API do teh por, poka kolihestvo vozvrahaemyh strok ne stanet ravnym nulu. 
        :return: list[DetailReportItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_supplier_report_detail_by_period_get_with_http_info(date_from, date_to, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_supplier_report_detail_by_period_get_with_http_info(date_from, date_to, **kwargs)  # noqa: E501
            return data

    def api_v1_supplier_report_detail_by_period_get_with_http_info(self, date_from, date_to, **kwargs):  # noqa: E501
        """Othet o prodahah po realizacii  # noqa: E501

        Detalizacia k othetu realizacii.  <br> V othete dostupny dannye za poslednie 3 mesaca. <br> V sluhae otsutstvia dannyh za ukazannyi period metod vernet `null`. <br> Tehniheskii pereryv v rabote metoda: kahdyi ponedelnik s 3:00 do 16:00. <br> <a href=\"../../excel_save/ru/index.html\">Instrukcia: Sohranenie statistiki v Excel</a> <br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_report_detail_by_period_get_with_http_info(date_from, date_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Nahalnaa data otheta.<br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :param date date_to: Konehnaa data otheta (required)
        :param int limit: Maksimalnoe kolihestvo strok otheta, vozvrahaemyh metodom. Ne mohet byt bolee 100000.
        :param int rrdid: Unikalnyi identifikator stroki otheta. Neobhodim dla poluhenia otheta hastami.  <br> Zagruzku otheta nuhno nahinat s `rrdid = 0` i pri posleduuhih vyzovah API peredavat v zaprose znahenie `rrd_id` iz poslednei stroki, poluhennoi v rezultate predyduhego vyzova.  <br> Takim obrazom dla zagruzki odnogo otheta mohet ponadobitsa vyzyvat API do teh por, poka kolihestvo vozvrahaemyh strok ne stanet ravnym nulu. 
        :return: list[DetailReportItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date_from', 'date_to', 'limit', 'rrdid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_supplier_report_detail_by_period_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'date_from' is set
        if ('date_from' not in params or
                params['date_from'] is None):
            raise ValueError("Missing the required parameter `date_from` when calling `api_v1_supplier_report_detail_by_period_get`")  # noqa: E501
        # verify the required parameter 'date_to' is set
        if ('date_to' not in params or
                params['date_to'] is None):
            raise ValueError("Missing the required parameter `date_to` when calling `api_v1_supplier_report_detail_by_period_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'date_from' in params:
            query_params.append(('dateFrom', params['date_from']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'date_to' in params:
            query_params.append(('dateTo', params['date_to']))  # noqa: E501
        if 'rrdid' in params:
            query_params.append(('rrdid', params['rrdid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/supplier/reportDetailByPeriod', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DetailReportItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_supplier_sales_get(self, date_from, **kwargs):  # noqa: E501
        """Prodahi  # noqa: E501

        Prodahi i vozvraty. <br> Garantiruetsa hranenie dannyh ne bolee 90 dnei ot daty prodahi. <br> Dannye obnovlautsa raz v 30 minut. <br> Dla identifikacii zakaza sleduet ispolzovat pole `srid`. <br> 1 stroka = 1 prodaha/vozvrat = 1 edinica tovara.  <br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_sales_get(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po prodahe/vozvratu. <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :param int flag: Esli parametr `flag=0` (ili ne ukazan v stroke zaprosa), pri vyzove API vozvrahautsa dannye,  u kotoryh znahenie pola `lastChangeDate` (data vrema obnovlenia informacii v servise) bolhe ili ravno peredannomu  znaheniu parametra `dateFrom`.  Pri etom kolihestvo vozvrahennyh strok dannyh variruetsa v intervale ot 0 do primerno 100 000. <br> Esli parametr `flag=1`, to budet vygruhena informacia obo vseh zakazah ili prodahah s datoi,  ravnoi peredannomu parametru `dateFrom` (v dannom sluhae vrema v date znahenia ne imeet).  Pri etom kolihestvo vozvrahennyh strok dannyh budet ravno kolihestvu vseh zakazov ili prodah,  sdelannyh v ukazannuu datu, peredannuu v parametre `dateFrom`. 
        :return: list[SalesItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_supplier_sales_get_with_http_info(date_from, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_supplier_sales_get_with_http_info(date_from, **kwargs)  # noqa: E501
            return data

    def api_v1_supplier_sales_get_with_http_info(self, date_from, **kwargs):  # noqa: E501
        """Prodahi  # noqa: E501

        Prodahi i vozvraty. <br> Garantiruetsa hranenie dannyh ne bolee 90 dnei ot daty prodahi. <br> Dannye obnovlautsa raz v 30 minut. <br> Dla identifikacii zakaza sleduet ispolzovat pole `srid`. <br> 1 stroka = 1 prodaha/vozvrat = 1 edinica tovara.  <br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_sales_get_with_http_info(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po prodahe/vozvratu. <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :param int flag: Esli parametr `flag=0` (ili ne ukazan v stroke zaprosa), pri vyzove API vozvrahautsa dannye,  u kotoryh znahenie pola `lastChangeDate` (data vrema obnovlenia informacii v servise) bolhe ili ravno peredannomu  znaheniu parametra `dateFrom`.  Pri etom kolihestvo vozvrahennyh strok dannyh variruetsa v intervale ot 0 do primerno 100 000. <br> Esli parametr `flag=1`, to budet vygruhena informacia obo vseh zakazah ili prodahah s datoi,  ravnoi peredannomu parametru `dateFrom` (v dannom sluhae vrema v date znahenia ne imeet).  Pri etom kolihestvo vozvrahennyh strok dannyh budet ravno kolihestvu vseh zakazov ili prodah,  sdelannyh v ukazannuu datu, peredannuu v parametre `dateFrom`. 
        :return: list[SalesItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date_from', 'flag']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_supplier_sales_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'date_from' is set
        if ('date_from' not in params or
                params['date_from'] is None):
            raise ValueError("Missing the required parameter `date_from` when calling `api_v1_supplier_sales_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'date_from' in params:
            query_params.append(('dateFrom', params['date_from']))  # noqa: E501
        if 'flag' in params:
            query_params.append(('flag', params['flag']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/supplier/sales', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SalesItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v1_supplier_stocks_get(self, date_from, **kwargs):  # noqa: E501
        """Sklad  # noqa: E501

        Ostatki tovarov na skladah WB. Dannye obnovlautsa raz v 30 minut. <br> Servis statistiki ne hranit istoriu ostatkov tovarov, poetomu poluhit dannye o nih mohno tolko v rehime \"na tekuhii moment\".<br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_stocks_get(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po tovaru. <br> Dla poluhenia polnogo ostatka sleduet ukazyvat maksimalno rannee znahenie. <br> Naprimer, `2019-06-20` <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :return: list[StocksItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v1_supplier_stocks_get_with_http_info(date_from, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v1_supplier_stocks_get_with_http_info(date_from, **kwargs)  # noqa: E501
            return data

    def api_v1_supplier_stocks_get_with_http_info(self, date_from, **kwargs):  # noqa: E501
        """Sklad  # noqa: E501

        Ostatki tovarov na skladah WB. Dannye obnovlautsa raz v 30 minut. <br> Servis statistiki ne hranit istoriu ostatkov tovarov, poetomu poluhit dannye o nih mohno tolko v rehime \"na tekuhii moment\".<br> Maksimum 1 zapros v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v1_supplier_stocks_get_with_http_info(date_from, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Data i vrema poslednego izmenenia po tovaru. <br> Dla poluhenia polnogo ostatka sleduet ukazyvat maksimalno rannee znahenie. <br> Naprimer, `2019-06-20` <br> Data v formate RFC3339. Mohno peredat datu ili datu so vremenem.  Vrema mohno ukazyvat s tohnostu do sekund ili millisekund. <br> Vrema peredaetsa v hasovom poase Msk (UTC+3). <br>Primery: <ul> <li> `2019-06-20` <li> `2019-06-20T23:59:59` <li> `2019-06-20T00:00:00.12345` <li> `2017-03-25T00:00:00` </ul>  (required)
        :return: list[StocksItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v1_supplier_stocks_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'date_from' is set
        if ('date_from' not in params or
                params['date_from'] is None):
            raise ValueError("Missing the required parameter `date_from` when calling `api_v1_supplier_stocks_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'date_from' in params:
            query_params.append(('dateFrom', params['date_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/supplier/stocks', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[StocksItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
