# coding: utf-8

"""
    API cen i skidok

    S pomohu etih metodov mohno ustanavlivat ceny i skidki. Maksimum — 10 zaprosov za 6 sekund summarno dla vseh metodov.   # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from wildberries_api_client.prices.api_client import ApiClient


class CenyApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def public_api_v1_info_get(self, **kwargs):  # noqa: E501
        """Poluhenie informacii o cenah.  # noqa: E501

        Poluhenie informacii po nomenklaturam, ih cenam, skidkam i promokodam. Esli ne ukazyvat filtry, vernetsa ves tovar.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_info_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int quantity: `1` - tovar s nenulevym ostatkom, `0` - tovar s lubym ostatkom
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.public_api_v1_info_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.public_api_v1_info_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def public_api_v1_info_get_with_http_info(self, **kwargs):  # noqa: E501
        """Poluhenie informacii o cenah.  # noqa: E501

        Poluhenie informacii po nomenklaturam, ih cenam, skidkam i promokodam. Esli ne ukazyvat filtry, vernetsa ves tovar.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_info_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int quantity: `1` - tovar s nenulevym ostatkom, `0` - tovar s lubym ostatkom
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quantity']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method public_api_v1_info_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'quantity' in params:
            query_params.append(('quantity', params['quantity']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/info', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2004',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def public_api_v1_prices_post(self, **kwargs):  # noqa: E501
        """Zagruzka cen  # noqa: E501

        Zagruzka cen. Za raz mohno zagruzit ne bolee 1000 nomenklatur.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_prices_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[V1PricesBody] body:
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.public_api_v1_prices_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.public_api_v1_prices_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def public_api_v1_prices_post_with_http_info(self, **kwargs):  # noqa: E501
        """Zagruzka cen  # noqa: E501

        Zagruzka cen. Za raz mohno zagruzit ne bolee 1000 nomenklatur.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_prices_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[V1PricesBody] body:
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method public_api_v1_prices_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/prices', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2001',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
