# coding: utf-8

"""
    API cen i skidok

    S pomohu etih metodov mohno ustanavlivat ceny i skidki. Maksimum — 10 zaprosov za 6 sekund summarno dla vseh metodov.   # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from wildberries_api_client.prices.api_client import ApiClient


class PromokodyISkidkiApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def public_api_v1_revoke_discounts_post(self, body, **kwargs):  # noqa: E501
        """Sbros skidok dla nomenklatur  # noqa: E501

        Sbros skidok dla nomenklatur. V otvete vernetsa nomer zagruzki, po kotoromu v lihnom kabinete mohno posmotret detali operacii.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_revoke_discounts_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: Spisok artikulov WB, po kotorym neobhodimo sbrosit skidku (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.public_api_v1_revoke_discounts_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.public_api_v1_revoke_discounts_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def public_api_v1_revoke_discounts_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Sbros skidok dla nomenklatur  # noqa: E501

        Sbros skidok dla nomenklatur. V otvete vernetsa nomer zagruzki, po kotoromu v lihnom kabinete mohno posmotret detali operacii.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_revoke_discounts_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: Spisok artikulov WB, po kotorym neobhodimo sbrosit skidku (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method public_api_v1_revoke_discounts_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `public_api_v1_revoke_discounts_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/revokeDiscounts', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def public_api_v1_revoke_promocodes_post(self, body, **kwargs):  # noqa: E501
        """Sbros promokodov dla nomenklatur  # noqa: E501

        Sbros promokodov dla nomenklatur  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_revoke_promocodes_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: Perehen nomenklatur k otmene promokodov (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.public_api_v1_revoke_promocodes_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.public_api_v1_revoke_promocodes_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def public_api_v1_revoke_promocodes_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Sbros promokodov dla nomenklatur  # noqa: E501

        Sbros promokodov dla nomenklatur  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_revoke_promocodes_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: Perehen nomenklatur k otmene promokodov (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method public_api_v1_revoke_promocodes_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `public_api_v1_revoke_promocodes_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/revokePromocodes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def public_api_v1_update_discounts_post(self, body, **kwargs):  # noqa: E501
        """Ustanovka skidok  # noqa: E501

        Ustanovka skidok dla nomenklatur. Maksimalnoe kolihestvo nomenklatur na zapros - 1000.<br> Esli, ukazav `activateFrom` bolhe tekuhei daty, Vy poluhaete ohibku vida `{\"errors\": [ \"Invalid activation date\"], \"error_code\": 1}`, znahit, Vah akkaunt pereveden na sistemu <b>ceny i skidki NEW</b>, i eta opcia bolee ne dostupna.<br> Otpravte zapros, ukazav nastoahuu datu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_update_discounts_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: Perehen nomenklatur (required)
        :param str activate_from: Data aktivacii skidki v formate `YYYY-MM-DD` ili `YYYY-MM-DD HH:MM:SS`. Esli ne ukazyvat, skidka nahnet deistvovat srazu.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.public_api_v1_update_discounts_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.public_api_v1_update_discounts_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def public_api_v1_update_discounts_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Ustanovka skidok  # noqa: E501

        Ustanovka skidok dla nomenklatur. Maksimalnoe kolihestvo nomenklatur na zapros - 1000.<br> Esli, ukazav `activateFrom` bolhe tekuhei daty, Vy poluhaete ohibku vida `{\"errors\": [ \"Invalid activation date\"], \"error_code\": 1}`, znahit, Vah akkaunt pereveden na sistemu <b>ceny i skidki NEW</b>, i eta opcia bolee ne dostupna.<br> Otpravte zapros, ukazav nastoahuu datu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_update_discounts_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: Perehen nomenklatur (required)
        :param str activate_from: Data aktivacii skidki v formate `YYYY-MM-DD` ili `YYYY-MM-DD HH:MM:SS`. Esli ne ukazyvat, skidka nahnet deistvovat srazu.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'activate_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method public_api_v1_update_discounts_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `public_api_v1_update_discounts_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'activate_from' in params:
            query_params.append(('activateFrom', params['activate_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/updateDiscounts', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def public_api_v1_update_promocodes_post(self, body, **kwargs):  # noqa: E501
        """Ustanovka promokodov dla nomenklatur  # noqa: E501

        Ustanovka promokodov dla nomenklatur. <br> Maksimalnoe kolihestvo nomenklatur na zapros - 1000   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_update_promocodes_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: Perehen nomenklatur (required)
        :param str activate_from: Data aktivacii promokada v formate `YYYY-MM-DD` ili `YYYY-MM-DD HH:MM:SS`. Esli ne ukazyvat, promokod nahnet deistvovat srazu
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.public_api_v1_update_promocodes_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.public_api_v1_update_promocodes_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def public_api_v1_update_promocodes_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Ustanovka promokodov dla nomenklatur  # noqa: E501

        Ustanovka promokodov dla nomenklatur. <br> Maksimalnoe kolihestvo nomenklatur na zapros - 1000   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.public_api_v1_update_promocodes_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: Perehen nomenklatur (required)
        :param str activate_from: Data aktivacii promokada v formate `YYYY-MM-DD` ili `YYYY-MM-DD HH:MM:SS`. Esli ne ukazyvat, promokod nahnet deistvovat srazu
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'activate_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method public_api_v1_update_promocodes_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `public_api_v1_update_promocodes_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'activate_from' in params:
            query_params.append(('activateFrom', params['activate_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/updatePromocodes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
