# coding: utf-8

"""
    Opisanie API Marketplace

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.18
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from wildberries_api_client.marketplace.api_client import ApiClient


class PropuskaApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def api_v3_passes_get(self, **kwargs):  # noqa: E501
        """Poluhit spisok propuskov  # noqa: E501

        Vozvrahaet spisok vseh propuskov prodavca.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[ModelPass]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v3_passes_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v3_passes_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v3_passes_get_with_http_info(self, **kwargs):  # noqa: E501
        """Poluhit spisok propuskov  # noqa: E501

        Vozvrahaet spisok vseh propuskov prodavca.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[ModelPass]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v3_passes_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/passes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ModelPass]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v3_passes_offices_get(self, **kwargs):  # noqa: E501
        """Poluhit spisok skladov, dla kotoryh trebuetsa propusk  # noqa: E501

        Vozvrahaet spisok skladov dla privazki k propusku prodavca. <br> Obratite vnimanie: dannye, kotorye vozvrahaet metod, mogut menatsa. Rekomenduem periodiheski sinhronizirovat spisok.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_offices_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[PassOffice]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v3_passes_offices_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.api_v3_passes_offices_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def api_v3_passes_offices_get_with_http_info(self, **kwargs):  # noqa: E501
        """Poluhit spisok skladov, dla kotoryh trebuetsa propusk  # noqa: E501

        Vozvrahaet spisok skladov dla privazki k propusku prodavca. <br> Obratite vnimanie: dannye, kotorye vozvrahaet metod, mogut menatsa. Rekomenduem periodiheski sinhronizirovat spisok.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_offices_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[PassOffice]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v3_passes_offices_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/passes/offices', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[PassOffice]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v3_passes_pass_id_delete(self, pass_id, **kwargs):  # noqa: E501
        """Udalit propusk  # noqa: E501

        Udalaet propusk prodavca.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_pass_id_delete(pass_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int pass_id: ID propuska (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v3_passes_pass_id_delete_with_http_info(pass_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v3_passes_pass_id_delete_with_http_info(pass_id, **kwargs)  # noqa: E501
            return data

    def api_v3_passes_pass_id_delete_with_http_info(self, pass_id, **kwargs):  # noqa: E501
        """Udalit propusk  # noqa: E501

        Udalaet propusk prodavca.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_pass_id_delete_with_http_info(pass_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int pass_id: ID propuska (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pass_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v3_passes_pass_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'pass_id' is set
        if ('pass_id' not in params or
                params['pass_id'] is None):
            raise ValueError("Missing the required parameter `pass_id` when calling `api_v3_passes_pass_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'pass_id' in params:
            path_params['passId'] = params['pass_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/passes/{passId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v3_passes_pass_id_put(self, body, pass_id, **kwargs):  # noqa: E501
        """Obnovit propusk  # noqa: E501

        Obnovlaet dannye propuska prodavca.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_pass_id_put(body, pass_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PassesPassIdBody body: Obhaa dlina FIO ogranihena ot 6 do 100 simvolov. V nomere mahiny mogut byt tolko bukvy i cifry. (required)
        :param int pass_id: ID propuska (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v3_passes_pass_id_put_with_http_info(body, pass_id, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v3_passes_pass_id_put_with_http_info(body, pass_id, **kwargs)  # noqa: E501
            return data

    def api_v3_passes_pass_id_put_with_http_info(self, body, pass_id, **kwargs):  # noqa: E501
        """Obnovit propusk  # noqa: E501

        Obnovlaet dannye propuska prodavca.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_pass_id_put_with_http_info(body, pass_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PassesPassIdBody body: Obhaa dlina FIO ogranihena ot 6 do 100 simvolov. V nomere mahiny mogut byt tolko bukvy i cifry. (required)
        :param int pass_id: ID propuska (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'pass_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v3_passes_pass_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `api_v3_passes_pass_id_put`")  # noqa: E501
        # verify the required parameter 'pass_id' is set
        if ('pass_id' not in params or
                params['pass_id'] is None):
            raise ValueError("Missing the required parameter `pass_id` when calling `api_v3_passes_pass_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'pass_id' in params:
            path_params['passId'] = params['pass_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/passes/{passId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def api_v3_passes_post(self, body, **kwargs):  # noqa: E501
        """Sozdat propusk  # noqa: E501

        Sozdaet propusk prodavca. <br> Propusk deistvuet 48 hasov so vremeni sozdania. Metod ogranihen odnim vyzovom v 10 minut.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param V3PassesBody body: Obhaa dlina FIO ogranihena ot 6 do 100 simvolov. V nomere mahiny mogut byt tolko bukvy i cifry. (required)
        :return: InlineResponse2013
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.api_v3_passes_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.api_v3_passes_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def api_v3_passes_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Sozdat propusk  # noqa: E501

        Sozdaet propusk prodavca. <br> Propusk deistvuet 48 hasov so vremeni sozdania. Metod ogranihen odnim vyzovom v 10 minut.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.api_v3_passes_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param V3PassesBody body: Obhaa dlina FIO ogranihena ot 6 do 100 simvolov. V nomere mahiny mogut byt tolko bukvy i cifry. (required)
        :return: InlineResponse2013
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_v3_passes_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `api_v3_passes_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v3/passes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2013',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
