# coding: utf-8

"""
    Opisanie API Prodvihenie

    Sinhronizacia dannyh iz bd proishodit raz v 3 minuty.  <br>Izmenenie statusa proishodit raz v 1 minutu. Vnutri etogo intervala budet sohraneno poslednee deistvie po izmeneniu statusa. <br>Izmenenie stavki proishodit raz v 30 sekund. Vnutri etogo intervala budet sohraneno poslednee deistvie po izmeneniu stavki.   # noqa: E501

    OpenAPI spec version: 2.20
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from wildberries_api_client.promotion.api_client import ApiClient


class SlovariApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def adv_v0_params_menu_get(self, **kwargs):  # noqa: E501
        """Slovar znahenii parametra menuId  # noqa: E501

        Metod pozvolaet poluhit spisok znahenii parametra <code>menuId</code>.<br>Dopuskaetsa 5 zaprosov v sekundu.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v0_params_menu_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Identifikator menu, gde razmehaetsa kampania (dla kampanii v kataloge). <br> Prinimaet znahenie parametra `menuId` iz kampanii. <br> Pri pustom parametre vernetsa ves spisok suhestvuuhih znahenii. 
        :return: list[InlineResponse20013]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adv_v0_params_menu_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.adv_v0_params_menu_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def adv_v0_params_menu_get_with_http_info(self, **kwargs):  # noqa: E501
        """Slovar znahenii parametra menuId  # noqa: E501

        Metod pozvolaet poluhit spisok znahenii parametra <code>menuId</code>.<br>Dopuskaetsa 5 zaprosov v sekundu.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v0_params_menu_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Identifikator menu, gde razmehaetsa kampania (dla kampanii v kataloge). <br> Prinimaet znahenie parametra `menuId` iz kampanii. <br> Pri pustom parametre vernetsa ves spisok suhestvuuhih znahenii. 
        :return: list[InlineResponse20013]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adv_v0_params_menu_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/adv/v0/params/menu', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20013]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def adv_v0_params_set_get(self, **kwargs):  # noqa: E501
        """Slovar znahenii parametra setId  # noqa: E501

        Metod pozvolaet poluhit spisok znahenii parametra <code>setId</code>.<br> Dopuskaetsa 5 zaprosov v sekundu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v0_params_set_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Identifikator sohetania predmeta i pola (dla kampanii v kartohke tovara). <br> Prinimaet znahenie parametra `setId` iz kampanii. <br> Pri pustom parametre vernetsa ves spisok suhestvuuhih znahenii. 
        :return: list[InlineResponse20014]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adv_v0_params_set_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.adv_v0_params_set_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def adv_v0_params_set_get_with_http_info(self, **kwargs):  # noqa: E501
        """Slovar znahenii parametra setId  # noqa: E501

        Metod pozvolaet poluhit spisok znahenii parametra <code>setId</code>.<br> Dopuskaetsa 5 zaprosov v sekundu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v0_params_set_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Identifikator sohetania predmeta i pola (dla kampanii v kartohke tovara). <br> Prinimaet znahenie parametra `setId` iz kampanii. <br> Pri pustom parametre vernetsa ves spisok suhestvuuhih znahenii. 
        :return: list[InlineResponse20014]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adv_v0_params_set_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/adv/v0/params/set', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20014]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def adv_v0_params_subject_get(self, **kwargs):  # noqa: E501
        """Slovar znahenii parametra subjectId  # noqa: E501

        Metod pozvolaet poluhit spisok znahenii parametra <code>subjectId</code>.<br> Dopuskaetsa 5 zaprosov v sekundu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v0_params_subject_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Identifikator predmetnoi gruppy, dla kotoroi sozdana kampania (dla kampanii v poiske i rekomendaciah). <br> Prinimaet znahenie parametra `subjectId` iz kampanii. <br> Pri pustom parametre vernetsa ves spisok suhestvuuhih znahenii. 
        :return: list[InlineResponse20012]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adv_v0_params_subject_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.adv_v0_params_subject_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def adv_v0_params_subject_get_with_http_info(self, **kwargs):  # noqa: E501
        """Slovar znahenii parametra subjectId  # noqa: E501

        Metod pozvolaet poluhit spisok znahenii parametra <code>subjectId</code>.<br> Dopuskaetsa 5 zaprosov v sekundu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v0_params_subject_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Identifikator predmetnoi gruppy, dla kotoroi sozdana kampania (dla kampanii v poiske i rekomendaciah). <br> Prinimaet znahenie parametra `subjectId` iz kampanii. <br> Pri pustom parametre vernetsa ves spisok suhestvuuhih znahenii. 
        :return: list[InlineResponse20012]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adv_v0_params_subject_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/adv/v0/params/subject', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20012]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def adv_v1_supplier_nms_get(self, subject, **kwargs):  # noqa: E501
        """Poluhenie spiska nomenklatur prodavca po predmetu  # noqa: E501

        Metod pozvolaet poluhat spisok Artikulov Wildberries (`nmId`) prodavca po ID predmeta. <span class=\"newM\">new</span><br> Dopuskaetsa 1 zapros v sekundu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v1_supplier_nms_get(subject, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int subject: ID predmeta (max. 1 znahenie) (required)
        :return: list[InlineResponse20017]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adv_v1_supplier_nms_get_with_http_info(subject, **kwargs)  # noqa: E501
        else:
            (data) = self.adv_v1_supplier_nms_get_with_http_info(subject, **kwargs)  # noqa: E501
            return data

    def adv_v1_supplier_nms_get_with_http_info(self, subject, **kwargs):  # noqa: E501
        """Poluhenie spiska nomenklatur prodavca po predmetu  # noqa: E501

        Metod pozvolaet poluhat spisok Artikulov Wildberries (`nmId`) prodavca po ID predmeta. <span class=\"newM\">new</span><br> Dopuskaetsa 1 zapros v sekundu.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v1_supplier_nms_get_with_http_info(subject, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int subject: ID predmeta (max. 1 znahenie) (required)
        :return: list[InlineResponse20017]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['subject']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adv_v1_supplier_nms_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'subject' is set
        if ('subject' not in params or
                params['subject'] is None):
            raise ValueError("Missing the required parameter `subject` when calling `adv_v1_supplier_nms_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'subject' in params:
            query_params.append(('subject', params['subject']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/adv/v1/supplier/nms', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20017]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def adv_v1_supplier_subjects_get(self, **kwargs):  # noqa: E501
        """Predmety dla kampanii  # noqa: E501

        Vozvrahaet predmety, nomenklatury iz kotoryh mohno dobavit v kampanii. Maksimum 1 zapros v 12 sekund.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v1_supplier_subjects_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[InlineResponse20015]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adv_v1_supplier_subjects_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.adv_v1_supplier_subjects_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def adv_v1_supplier_subjects_get_with_http_info(self, **kwargs):  # noqa: E501
        """Predmety dla kampanii  # noqa: E501

        Vozvrahaet predmety, nomenklatury iz kotoryh mohno dobavit v kampanii. Maksimum 1 zapros v 12 sekund.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v1_supplier_subjects_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[InlineResponse20015]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adv_v1_supplier_subjects_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/adv/v1/supplier/subjects', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20015]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def adv_v2_supplier_nms_post(self, **kwargs):  # noqa: E501
        """Nomenklatury dla kampanii  # noqa: E501

        Vozvrahaet nomenklatury, kotorye mohno dobavit v kampanii. <span class=\"newM\">new</span><br> Maksimum 5 zaprosov v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v2_supplier_nms_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: ID predmetov, dla kotoryh nuhno poluhit nomenklatury
        :return: list[InlineResponse20016]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adv_v2_supplier_nms_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.adv_v2_supplier_nms_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def adv_v2_supplier_nms_post_with_http_info(self, **kwargs):  # noqa: E501
        """Nomenklatury dla kampanii  # noqa: E501

        Vozvrahaet nomenklatury, kotorye mohno dobavit v kampanii. <span class=\"newM\">new</span><br> Maksimum 5 zaprosov v minutu   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adv_v2_supplier_nms_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: ID predmetov, dla kotoryh nuhno poluhit nomenklatury
        :return: list[InlineResponse20016]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adv_v2_supplier_nms_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['HeaderApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/adv/v2/supplier/nms', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20016]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
